.background {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;

    display: grid;
    place-items: center;
}

.background::before {
    content: "";
    position: absolute;
    z-index: -10;
    inset: -100%;

    background-image: url('../../assets/icons/stethoscope-background.svg');
    background-color: #B8B8FF;
    background-repeat: repeat;
    background-size: 40px 40px;

    opacity: 0.30;
    transform: rotate(45deg);
}

.formContainer {
    position: relative;
    width: min(400px, 90%);
    max-width: 100%;
    min-height: 400px;
}

.panel {
    position: absolute;
    inset: 0;

    transition: opacity 0.3s ease, transform 0.3s ease;

    opacity: 0;
    transform: translateX(10px);
    pointer-events: none;
}

.panel.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}