.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    min-height: 0;
}

.chatArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    padding: 30px 80px 30px 80px;
    background-color: #fff;
}

.foldBtn {
    position: absolute;
    z-index: 10000;
    top: 13px;
    left: 10px;
}

.chatList {
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.28);
}

@media (max-width: 768px) {
    .chatArea {
        padding: 10px 5px 10px 15px;
    }

    .foldBtn {
        top: 14px;
        left: 3px;
    }

    .header {
        z-index: 901;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        z-index: 900;
    }

    .mobileChatList {
        justify-self: center;
        align-self: center;
    }
}